@model Nop.Web.Models.NhaXes.QuanlyPhoiVeModel.KhachHangDatMuaVeModel
<table style="text-align:left;">
    <tr>
        <td class="adminTitle">
            Tuyến vé:
        </td>
        <td class="adminData">
            @Html.DropDownListFor(m=>m.ChangId,Model._changs)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">            
        </td>
        <td class="adminData">
            @Html.CheckBoxFor(model => model.isKhachVangLai) &nbsp; Khách vãng lai
        </td>
    </tr>
    <tr id="trTenKhachHang">
        <td class="adminTitle">
            Số điện thoại:
        </td>
        <td class="adminData">
            <input id="cbbSearchKhachHang" value="@Model.SoDienThoai" style="width:100%" />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.SoDienThoai)
        </td>
    </tr>    
    <tr id="trDienThoai">
        <td class="adminTitle">
            Khách hàng:
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.TenKhachHang)
        </td>
    </tr>
    <tr id="trTenKhachHang">
        <td class="adminTitle">
            Đại lý:
        </td>
        <td class="adminData">
            <input id="cbbSearchDaiLy" value="@Model.TenDaiLy" style="width:100%" />
            @Html.HiddenFor(model => model.DaiLyId)
            @Html.HiddenFor(model => model.TenDaiLy)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            Thanh toán:
        </td>
        <td class="adminData">
            @Html.CheckBoxFor(model => model.DaThanhToan) &nbsp; Đã thanh toán ?
        </td>
    </tr>
    @*<tr>
        <td class="adminTitle">
        </td>
        <td class="adminData">
            @Html.CheckBoxFor(model => model.IsForKid) &nbsp; Vé cho trẻ em(giảm 50%) ?
        </td>
    </tr>*@
    <tr>
        <td class="adminTitle" style="vertical-align:top">
            Điểm đón:
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.ViTriLen)
        </td>
    </tr>
    <tr>
        <td class="adminTitle" style="vertical-align:top">
            Điểm trả:
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.ViTriXuong)
        </td>
    </tr>    
    <tr>
        <td class="adminTitle" style="vertical-align:top">
            Ghi chú:
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.GhiChu)
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="adminData">
            <input type="button" class="k-button" id="btnThanhToanGiuCho" value="@T("common.yes")" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    function AnHienKhachVangLai() {
        var isChecked = $('#@Html.FieldIdFor(model => model.isKhachVangLai)').is(':checked');

        if (!isChecked) {
            $('#trTenKhachHang').show();
            $('#trDienThoai').show();
        }
        else {
            $('#trTenKhachHang').hide();
            $('#trDienThoai').hide();
        }


    }
    $(document).ready(function () {
        AnHienKhachVangLai();
        setTimeout(function () {
            $('#@Html.FieldIdFor(model => model.DaThanhToan)').focus();
        }, 500);
        $('#@Html.FieldIdFor(model => model.isKhachVangLai)').change(function () {
            AnHienKhachVangLai();
        });
        $('#cbbSearchKhachHang').kendoComboBox({
            placeholder: "Thông tin tên hoặc số điện thoại",
            dataTextField: "DienThoai",
            dataValueField: "Id",
            filter: "contains",
            autoBind: false,
            minLength: 2,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("CbbListKhachHangInNhaXe", "NhaXes"))",
                        data: dataSearchKhachHang
                    }
                }
            },
            change: onChange
        });
        function onChange() {
            var DataItem = this.dataItem();
            $("#@Html.FieldIdFor(model => model.Id)").val(DataItem.Id);
            $('#@Html.FieldIdFor(model => model.SoDienThoai)').val(DataItem.DienThoai);
            $('#@Html.FieldIdFor(model => model.TenKhachHang)').val(DataItem.HoTen);

        }

        function dataSearchKhachHang() {
            var sodienthoai = $('#cbbSearchKhachHang').data("kendoComboBox").text();
            $('#@Html.FieldIdFor(model => model.SoDienThoai)').val(sodienthoai);
            return {
                SearchKhachhang: sodienthoai
            };
        }
        $("#cbbSearchDaiLy").kendoComboBox({
            placeholder: "Tên đại lý",
            dataTextField: "TenDaiLy",
            dataValueField: "Id",
            filter: "contains",
            autoBind: "false",
            minLength: 2,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:"@Html.Raw(Url.Action("cbbListDaiLy","NhaXes"))",
                        data : dataSearchDaiLy
                    }
                }
            }
        });
        function changeDaiLy() {
            var DataItem = this.dataItem();
            $("#@Html.FieldIdFor(model => model.DaiLyId)").val(DataItem.DaiLyId);
            $('#@Html.FieldIdFor(model => model.TenDaiLy)').val(DataItem.TenDaiLy);

        }
        function dataSearchDaiLy() {
            var tendaily = $('#cbbSearchDaiLy').data("kendoComboBox").text();
            $('#@Html.FieldIdFor(model => model.TenDaiLy)').val(tendaily);
            return {
                TenDaiLy: tendaily
            };
        }
        $('#btnThanhToanGiuCho').click(function () {
            var isChecked = $('#@Html.FieldIdFor(model => model.isKhachVangLai)').is(':checked');
            if (!isChecked) {
                if ($('#@Html.FieldIdFor(model => model.SoDienThoai)').val() == "") {
                    alert('@T("ChonVe.NhaXe.QuanLyPhoiVe.DatVe.chuanhapsdt")');
                    $('#@Html.FieldIdFor(model => model.SoDienThoai)').focus();
                    return;
                }
            }
            $('#btnThanhToanGiuCho').attr('disabled', true);
            var paradata = additionalData();
            $.ajax({
                cache: false,
                type: "POST",
                data: paradata,
                dataType: 'json',
                url: "@(Url.Action("ThanhToanGiuCho", "QLPhoiVe"))",
                success: function (data) {
                    if (data=="OK")
                        CloseWindowDatMuaVe(true);
                    else if (data == "KhongTimThayCho")
                    {
                        //alert("Có lỗi trong đặt vé, bạn hãy kiểm tra thông tin")
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="KhongMenhGia")
                    {
                        alert("Không có mệnh giá vé");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="KhongDuVeDiNgay")
                    {
                        alert("Không đủ vé đi ngay hoặc chưa được kê vé");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data == "KhongDuVeBanTruoc")
                    {
                        alert("Không đủ vé đi trước hoặc chưa được kê vé");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="QuaHanDatVe")
                    {
                        alert("Đã quá hạn đặt vé");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="KhongCoSeri")
                    {
                        alert("Không có seri");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="KhongTimThayCho")
                    {
                        alert("Không tìm thấy chỗ");
                        $('#btnThanhToanGiuCho').attr('disabled', false);
                    } else if(data=="SuaThongTin")
                    {
                        alert("Sửa thông tin thành công");
                        CloseWindowDatMuaVe(true);
                        //$('#btnThanhToanGiuCho').attr('disabled', false);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    return alert('Error while process ThanhToanGiuCho');
                    $('#btnThanhToanGiuCho').attr('disabled', false);
                }

            });
        });
        function additionalData() {
            var DaiLyId = 0;
            if ($('#cbbSearchDaiLy').val() != "")
                DaiLyId = $('#cbbSearchDaiLy').val();
            return {
                "PhoiVeId" : '@Model.PhoiVeId_ChuyenVe',
                "ChuyenDiId": '@Model.ChuyenDiId',
                "ChangId": $('#@Html.FieldIdFor(model => model.ChangId)').val(),
                "TenKhachHang": $('#@Html.FieldIdFor(model => model.TenKhachHang)').val(),
                "SoDienThoai": $('#@Html.FieldIdFor(model => model.SoDienThoai)').val(),
                "DaThanhToan": $('#@Html.FieldIdFor(model => model.DaThanhToan)').is(':checked'),
                "DaiLyId": DaiLyId,
                "Id": $('#@Html.FieldIdFor(model => model.Id)').val(),
                "ViTriLen": $("#@Html.FieldIdFor(model=>model.ViTriLen)").val(),
                "ViTriXuong": $("#@Html.FieldIdFor(model=>model.ViTriXuong)").val(),
                "GhiChu": $('#@Html.FieldIdFor(model => model.GhiChu)').val(),
                "IsForKid": $('#@Html.FieldIdFor(model => model.IsForKid)').is(':checked'),
                "isKhachVangLai": $('#@Html.FieldIdFor(model => model.isKhachVangLai)').is(':checked'),
            };
        }

    });


</script>